<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css" class="rel">






    <title>Covid Tracker</title>
</head>

<body>

    <!-- this header will contain the logo and Home,about options -->

    <header>
        <div class="logo">
            <img src="./static/img/logo.png" alt="">
            <p>Covid 19 Statistics</p>
        </div>
    </header>

    <!-- this is the main body of the page,here we will display the cards which will give us the count of the cases and the chart! -->

    <main>

        <div class="stats">
            <div class="latest-report">
                <div class="country">
                    <div class="name">Loading...</div>
                    <div class="change-country">Change</div>

                    <div class="search-country ">

                        <div class="search-box">
                            <input type="text" id="search-input" placeholder="Search Country..">
                            <img class='close' src="./resources/img/close.svg" alt="">
                        </div>

                        <!-- the main code of the country-list -->

                        <div class="country-list">

                            <!-- this will be popopulated using JS! -->


                        </div>


                    </div>
                </div>

                <!-- as we're gonna add the current cases and the new cases as well we need 2 divs as shown ↓ -->

                <div class="total-cases">
                    <div class="title">Total Cases</div>
                    <div class="value">0</div>
                    <div class="newvalue">+0</div>
                </div>

                <!-- div for the recovered cases -->

                <div class="recovered">
                    <div class="title">Recovered</div>
                    <div class="value">0</div>
                    <div class="newvalue">+0</div>
                </div>

                <!-- div for the deaths -->


                <div class="deaths">
                    <div class="title">Deaths</div>
                    <div class="value">0</div>
                    <div class="newvalue">+0</div>
                </div>

            </div>

            <div class="chart">
                <canvas id='axes_line_chart'></canvas>
            </div>


        </div>


    </main>

    <!-- footer -->

    <footer>
        <div class="footer-container">
            <div class="copyright">
                <p>Copyright © 2020 Covid Tracker</p>
            </div>
        </div>
    </footer>




</body>

<!-- script file using the Chart-JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

<!-- the geo-plugin API script -->

<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

<script src="static/js/countries.js"></script>

<script src="static/js/app.js"></script>
    
    
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>



</html>
